.poke{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.poke-card{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px ;
    background: rgb(204,204,204);
    background: linear-gradient(180deg, rgb(255, 253, 253) 50%, rgba(255, 0, 0, 0.856) 100%);
}
.nome-poke{
    text-transform: uppercase;
    font-size: 15px;
}