.poke{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin:auto;
    
}
.poke-card{
    width: 250px;
    margin: 10px;
    border: 5px ;
    border-radius: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nome-poke{
    text-transform: uppercase;
    font-size: 15px;
}
.img-poke{
    width: 150px;
}
.tipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.grass{
    border: 2px green solid;
    border-radius: 10px;
    padding: 3px;
}
.fire{
    border: 2px red solid;
    border-radius: 10px;
    padding: 3px;
}
.water{
    border: 2px blue solid;
    border-radius: 10px;
    padding: 3px;
}
.flying{
    border: 2px rgb(148, 148, 245) solid;
    border-radius: 10px;
    padding: 3px;
}
.fighting{
    border: 2px white solid;
    border-radius: 10px;
    padding: 3px;
}
.poison{
    border: 2px rgb(201, 31, 201) solid;
    border-radius: 10px;
    padding: 3px;
}
.electric{
    border: 2px yellow solid;
    border-radius: 10px;
    padding: 3px;
}
.ground{
    border: 2px brown solid;
    border-radius: 10px;
    padding: 3px;
}
.rock{
    border: 2px rgb(141, 138, 138) solid;
    border-radius: 10px;
    padding: 3px;
}
.psychic{
    border: 2px rgb(194, 86, 104) solid;
    border-radius: 10px;
    padding: 3px;
}
.ice{
    border: 2px rgb(169, 169, 231) solid;
    border-radius: 10px;
    padding: 3px;
}
.bug{
    border: 2px rgb(10, 255, 10) solid;
    border-radius: 10px;
    padding: 3px;
}
.ghost{
    border: 2px purple solid;
    border-radius: 10px;
    padding: 3px;
}
.dragon{
    border: 2px orangered solid;
    border-radius: 10px;
    padding: 3px;
}
.dark{
    border: 2px black solid;
    border-radius: 10px;
    padding: 3px;
}
.fairy{
    border: 2px pink solid;
    border-radius: 10px;
    padding: 3px;
}
.normal{
    border: 2px rgb(0, 255, 179) solid;
    border-radius: 10px;
    padding: 3px;
}
.steel{
    border: 2px silver solid;
    border-radius: 10px;
    padding: 3px;
}