*{
    margin: 0;
    padding: 0;
}
input[type="checkbox"]{
    display: none;
}
nav{
    width: 300px;
    position: absolute;
    left: -300px;
    transition: all .5s;
    top: 50px;
    background-color: grey;
    text-align: center;
    height: 100%;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(300px);
    display: block;
}


ul{
    position: absolute;
    width: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
li{
    display: block;
    text-align: center;
}
label{
    position:relative;
    padding: 15px;
    cursor: pointer;
}
